

 <div class="card">
        <div class="card-body">
        	<center>
      <img src="assets/airways.png" class="card_img_top" alt="Card image cap">
    <h5 class="card-title">Take the risk, take flight.</h5>
    </div>

    <p class="card-text">Due to the current state of the world, there are limited flights available to your  destination. Rest assured, we are doing everything to ensure you the safest flight possible. You deserve it.</p>

    <div class="card-footer">
      <a class="btn btn-primary">See available flights.</a>
  </center>
    </div>